/* Core CSS Code. Should only contain base elements */
html {
    width: 100%;
    height: 100%;

    font-weight: 400;
    user-select: none;
    color: var(--rhet-white);
    font-family: Roboto-Mono;
    background-color: var(--rhet-black);
}

a {
    color: lightskyblue;
}

/* Variables and Data */
:root {
    --highlight: #E5DCC5;
    --rhet-white: #fafbfc;
    --rhet-black: #2D2D2A;
}

/* Classes and Multiple Elements */
.flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-text {
    font-weight: 600;
    color: var(--highlight);
}

.button {
    text-align: center;
    padding: 15px 50px;
    border-radius: 15px;
    transition: all ease-in-out 0.1s;
    background-color: rgb(250, 251, 252, 0.1);
}

.border {
    padding: 50px 70px;
    border-radius: 20px;
    border: 3.5px dashed var(--highlight);

    background-color: var(--rhet-black);
}

/* Font Families and Handlers */
@font-face {
    font-family: Roboto-Mono;
    src: url('/RobotoMono-VariableFont_wght.ttf');
}

/* ID's and Specific Elements */
#description {
    width: 525px;
    margin: -10px auto;
    text-align: center;
}

#about {
    width: 550px;
    padding-top: 10px;
    text-align: center;
}

#version {
    font-size: 10px;
    text-align: center;
}

#profile {
    padding: 15px 25px 15px 15px;
    border-right: 3.5px dashed var(--highlight);
}

#decal {
    top: 5%;
    left: 45%;
  
    z-index: -1;
    opacity: 20%;
    position: fixed;
    filter: grayscale(1);
    animation: roll infinite 120s linear;
}

/* Icons */
#icons img {width: 25px;}
#icons img:nth-child(n){padding-left: 40px;}

/* Keyframes and Animations */
.button:hover {
    transition: all ease-in-out 0.1s;
  
    cursor: pointer;
    color: var(--rhet-black);
    background-color: var(--rhet-white);
}
  
@keyframes roll {
    0% {rotate: 360deg;};
    100% {rotate: 0deg;};
}