/* Base CSS. This should contain only BASE ELEMENTS and CLASSES */
html {
  height: 100%;
  width: 100%;

  user-select: none;
  color: var(--rhet-white);
  font-family: Roboto-Mono;
  background-color: var(--rhet-black);
}

a {
  color: lightskyblue;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-text {
  font-weight: bold;
  color: var(--lemon-chiffon);
}

.button {
  padding: 15px 50px;
  border-radius: 15px;
  transition: all ease-in-out 0.1s;
  background-color: rgb(250, 251, 252, 0.1);
}

.alt-border {
  border-radius: 25px;
  border: 4px dashed white;
  padding: 15px 50px 30px 50px;

  background-color: var(--rhet-black);
}

.line {
  border-radius: 5px;
  border: 2px dashed var(--rhet-white);
}

/* Font Holders and Families */
@font-face {
  font-family: Roboto-Mono;
  src: url('core/Roboto-Mono.ttf');
}

/* Variables */
:root {
  --rhet-white: #fafbfc;
  --rhet-black: #24292E;
  --lemon-chiffon: #FAF0CA;
}

/* ID or specific CSS */
#header {
  font-size: 30px;
}

#about {
  width: 550px;
  padding-top: 10px;
  text-align: center;
}

#header-description {
  width: 550px;
  margin: -10px auto;
  text-align: center;
}

#me-decal {
  z-index: -1;
  opacity: 10%;
  user-select: none;

  top: 30%;
  right: 65%;
  position: fixed;
}

#version {
  text-align: center;
  font-size: 10px;
}

#amiea-decal {
  top: 50%;
  left: 50%;

  z-index: -1;
  opacity: 20%;
  position: fixed;
  filter: grayscale(1);
  animation: roll infinite 120s linear;
}

/* Icons */
#icons img {width: 25px;}
#icons img:nth-child(n){padding-left: 40px;}

/* Keyframes & Animations */
.button:hover {
  transition: all ease-in-out 0.1s;

  cursor: pointer;
  color: var(--rhet-black);
  background-color: var(--rhet-white);
}

@keyframes roll {
  0% {rotate: 360deg;};
  100% {rotate: 0deg;};
}